#Python

This is a programing Lanugage used for

- Web Development
- Ai and ML
- Mathmatics
- System Scripting
- Data Handeling
- a lot more than you think

In [1]:
# Print something

print("Hello World! ")

Hello World!

In [3]:
import sys
print(sys.version)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

In [4]:
!python --version

Python 3.12.12

In [5]:
# Indentation

#this is mainly the gap between program inderneth, normal we use a tab amount of space for it

if 5>2:
  print("Five is greater than two")
else:
  print("Five is not greater than two")

# here the
#if 5>2:
# (this gap is indentation)  print("Five is greater than two")

Five is greater than two

In [9]:
# number of space is not fixexd, but minimum is 1

if 5>2:
  print("Five is greater than two")
else:
      print("Five is not greater than two")

Five is greater than two

In [10]:
# Printing Numbers

print(10)

10

In [11]:
print(20.4)

20.4

In [12]:
print(3000)

3000

In [13]:
print(2+3)

5

In [14]:
print("I am " , 20 , " years old")

I am  20  years old

In [15]:
# Creating variable

x = 5
y = "John"

In [16]:
print(x)

5

In [18]:
print(y)

John

In [19]:
# Getting variable type

print(type(x))

<class 'int'>

In [20]:
print(type(y))

<class 'str'>

In [21]:
'''
Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords."


'''

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [22]:
# Assigning Multiple Values to varibale

x, y, z = "A " , "B " , "C "

In [23]:
print(x)

A

In [24]:
print(y)

B

In [25]:
print(z)

C

In [26]:
x = y = z = "Orange"

In [27]:
print(x)

Orange

In [28]:
print(y)

Orange

In [29]:
print(z)

Orange

In [31]:
fruites = [ 'apple', 'bananan' , 'cherry']

x,y,z = fruites
print(x)
print(y)
print(z)

apple
bananan
cherry

In [32]:
#golbal variable

X= 'Awesome'

def myFunction():
  print("Python is " + X)

myFunction()

Python is Awesome

# Data Types

In [33]:
'''

Text Type : String
Numeric Types: int , float, complex
Sequence Type: list , tuple, range
mapping type: Dict
Set Type: set, forzenset
Boolean Type: bool
Binary type: bytes, bytearray, memoryview
None type: nontetyep


'''

'\n\nText Type : String\nNumeric Types: int , float, complex\nSequence Type: list , tuple, range\nmapping type: Dict\nSet Type: set, forzenset\nBoolean Type: bool\nBinary type: bytes, bytearray, memoryview\nNone type: nontetyep\n\n\n'

In [34]:
x = " Hello world "
print(type(x))

<class 'str'>

In [35]:
x = 20
print(type(x))

<class 'int'>

In [36]:
x = 20.5
print(type(x))

<class 'float'>

In [37]:
x = ['Apple', 'Banana', 'Cherry']
print(type(x))

<class 'list'>

In [38]:
x = ('Apple', 'Banana', 'Cherry')
print(type(x))

<class 'tuple'>

In [42]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [43]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [44]:
x = {"Apple", "Banana", "Cherry"}
print(type(x))

<class 'set'>

In [45]:
x = True
print(type(x))

<class 'bool'>

In [46]:
x = b"hello"
print(type(x))

<class 'bytes'>

In [49]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [50]:
X = None
print(type(X))

<class 'NoneType'>

In [54]:
# Type Conversion
# String - str()
# Integer - int()
# Folating - float()
# Boolean - bool()
# List - list()
# Tuple - Tuple()
# Set - set()
# Dicitionoary - dict()
# Bytes - Bytes ()
# Complex - complex()

In [56]:
import random
print(random.randrange(1,10))

2

In [57]:
txt = 'The best thing is life is Pain'
print("Expensive" not in txt)

True

In [58]:
b = 'Hello World!'
print(b[2:5])

llo

In [59]:
print(b[:5])

Hello

In [60]:
print(b[2:])

llo World!

In [61]:
print(b[-5:-2])

orl

In [62]:
# Uppercase
a = 'Hello World'
print(a.upper())

HELLO WORLD

In [63]:
# Lowecase
print(a.lower())

hello world

In [70]:
# REmoving White space start end

x = '    Hello I Am A Fully Grown Programe      '
print(x.strip())

Hello I Am A Fully Grown Programe

In [71]:
# REplace string

a = 'Hello Word'
print(a.replace('H','Z'))

Zello Word

In [72]:
# Split String

print(a.split("e"))

['H', 'llo Word']

In [74]:
a = "Hello "
b = " World "

print( a+b)

Hello  World

In [75]:
# F - string / Formatted string

age = 50
txt = f"My Age is {age}"

print(txt)

My Age is 50

In [76]:
salary = 200000000

print(f"My Salary is {salary}")

My Salary is 200000000

In [77]:
# Excapse Character
# \' for single quotation
# \n new line
# \t tab
# \\ backslash
# \b backspace

In [79]:
'''
String Methods
Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
'''

'\nString Methods\nPython has a set of built-in methods that you can use on strings.\n\nNote: All string methods return new values. They do not change the original string.\n\nMethod\tDescription\ncapitalize()\tConverts the first character to upper case\ncasefold()\tConverts string into lower case\ncenter()\tReturns a centered string\ncount()\tReturns the number of times a specified value occurs in a string\nencode()\tReturns an encoded version of the string\nendswith()\tReturns true if the string ends with the specified value\nexpandtabs()\tSets the tab size of the string\nfind()\tSearches the string for a specified value and returns the position of where it was found\nformat()\tFormats specified values in a string\nformat_map()\tFormats specified values in a string\nindex()\tSearches the string for a specified value and returns the position of where it was found\nisalnum()\tReturns True if all characters in the string are alphanumeric\nisalpha()\tReturns True if all characters in the string are in the alphabet\nisascii()\tReturns True if all characters in the string are ascii characters\nisdecimal()\tReturns True if all characters in the string are decimals\nisdigit()\tReturns True if all characters in the string are digits\nisidentifier()\tReturns True if the string is an identifier\nislower()\tReturns True if all characters in the string are lower case\nisnumeric()\tReturns True if all characters in the string are numeric\nisprintable()\tReturns True if all characters in the string are printable\nisspace()\tReturns True if all characters in the string are whitespaces\nistitle()\tReturns True if the string follows the rules of a title\nisupper()\tReturns True if all characters in the string are upper case\njoin()\tJoins the elements of an iterable to the end of the string\nljust()\tReturns a left justified version of the string\nlower()\tConverts a string into lower case\nlstrip()\tReturns a left trim version of the string\nmaketrans()\tReturns a translation table to be used in translations\npartition()\tReturns a tuple where the string is parted into three parts\nreplace()\tReturns a string where a specified value is replaced with a specified value\nrfind()\tSearches the string for a specified value and returns the last position of where it was found\nrindex()\tSearches the string for a specified value and returns the last position of where it was found\nrjust()\tReturns a right justified version of the string\nrpartition()\tReturns a tuple where the string is parted into three parts\nrsplit()\tSplits the string at the specified separator, and returns a list\nrstrip()\tReturns a right trim version of the string\nsplit()\tSplits the string at the specified separator, and returns a list\nsplitlines()\tSplits the string at line breaks and returns a list\nstartswith()\tReturns true if the string starts with the specified value\nstrip()\tReturns a trimmed version of the string\nswapcase()\tSwaps cases, lower case becomes upper case and vice versa\ntitle()\tConverts the first character of each word to upper case\ntranslate()\tReturns a translated string\nupper()\tConverts a string into upper case\nzfill()\tFills the string with a specified number of 0 values at the beginning\n'